#
# {{ ansible_managed }}
#
# GDM configuration storage
#
# See /usr/share/gdm/gdm.schemas for a list of available options.
WaylandEnable = {{ wayland_enable }}
AutomaticLoginEnable = {{ gdm.automatic_login_enable }}
AutomaticLogin = {{ gdm.automatic_login }}
