#
# {{ ansible_managed }}
#
# GDM configuration storage
#
# See /usr/share/gdm/gdm.schemas for a list of available options.
[daemon]
WaylandEnable = {{ gdm.wayland_enable }}
AutomaticLoginEnable = {{ gdm.automatic_login_enable }}
{% if gdm.automatic_login is defined %}
AutomaticLogin = {{ gdm.automatic_login }}
{% endif %}
[security]

[xdmcp]

[chooser]
